@import url('https://fonts.cdnfonts.com/css/chakra-petch');
@import url('https://fonts.cdnfonts.com/css/ibm-plex-mono-3');

* {
    box-sizing: border-box;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    font-family: 'Chakra Petch SemiBold', sans-serif;
}

.topnav #myLinks {
    display: none;
    flex-direction: column;
    height: 100%;
}

.topnav #myLinks a {
    padding: 15px;
    text-decoration: none;
    color: #fff;
    background-color: #000000;
    display: block;
    text-align: center;
}

.topnav .logo-img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    height: 100%;
}

.topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    line-height: 72px;
    padding: 0 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #1D4F91;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    max-width: 100px;
    height: auto;
}

.logo-text {
    margin-left: 10px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

h1, h2, h3{
    font-family: 'Chakra Petch SemiBold', sans-serif;
}
p{
    font-family: 'IBM Plex Mono', sans-serif;
    letter-spacing: -1px;
}

main {
    display: flex;
    flex: 1;
    padding: 20px;
}

article {
    flex: 2;
    background-color: #f0f0f0;
    padding: 15px;
    margin-right: 15px;
}

aside {
    flex: 1;
    max-width: 350px;
    margin: 0 auto;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin-top: 20px;
    width: 100%;
    max-height: 0;
    padding-bottom: 133.33%;
}

.mySlides {
    display: none;
    text-align: center;
}

.mySlides img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: contain;
    max-height: 100%;
    min-height: 100%;
}

.mySlides p {
    margin-bottom: 10px;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    color: #FF4655;
    font-weight: bold;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

img {
    width: 100%;
    height: auto;
}

footer {
    font-family: 'Chakra Petch SemiBold', sans-serif;
    background-color: #1D4F91;
    color: #fff;
    padding: 1em;
    text-align: center;
}
